/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
  background: black;
}

body {
  max-width: 320px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

header {
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: white;
  background-image: url(../img/code.jpg);
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

h3 {
  font-size: 12px;
}

img {
  width: 100%;
  margin: auto;
}

div {
  background: #00fca6;
  color:#0e6949;
  height: auto;
  width: 94%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

article {
  background: white;
  width: auto;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

figure {
  height: 120%;
  width: 100%;
  background: white;
  box-shadow: 0 0 10px #33333344;
  margin: auto;
}

nav {
  border-width: 2px;
  border-style: solid;
  border-color: #00fca6;
  color: white;
  text-align: center;
}

.gris {
  color: grey;
}

.vert {
  color: #00fca6;
}

.deux-milles {
  color: #00fca6;
  font-style: italic;
  font-weight: 100;
}

.button {
  background: #444;
  color: #ddd;
  padding: 5px 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}


